<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

Hello my name is Lorenzo Drilleau Craft. 

I am a student at Oakland Tech. <br> 

Idenfitication: Black, male, senior <br> 

I am in the Computer Science Academy. <br>

Honor Roll Awarded <br>



<img width="300" src='\static\LorenzoSelfPortrait.jpg'>





 <br>
Hello, my name is Kai Carr <br>

Im a student at Oakland Tech <br>

idenfitication: Black, male, senior <br> 

I am in the Computer Science Academy. <br>


<img width="300" src='\static\project.about.us.jpg'



{% endblock %}